$fa-font-path: '~font-awesome/fonts';
$web-font-path: "https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed";
@import './app/ui/styles/variables';
@import './app/ui/styles/toasty';
@import './app/ui/styles/sweetalert2';
@import '~font-awesome/scss/font-awesome';
@import '~bootstrap/scss/bootstrap';
@import './app/ui/styles/bootswatch';

body {
  @include transition(all 0.3s ease);
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  text-shadow: 0 1px 2px rgba(0,0,0,0.5);
}

a {
  cursor: pointer;
  @include ripple(#eee);
}

.btn {
  cursor     : pointer;
  font-family: 'Segoe UI', sans-serif;
  font-weight: 700;
}

.card {
  box-shadow: 0 1px 2px rgba(151,151,151,0.58);
}

.btn,
.card-title,
.modal-title {
  text-shadow: 0 2px 2px rgba(0,0,0,0.3);
}

.alert {
  border-color: transparent;
}

.modal-title {
  color: #fff;
}

.close {
  outline: none !important;
}

.lead {
  font-size: 18px;
}

formly-field-input {
  width: 100%;
}

.form-control {
  line-height: 2 !important;
  width      : 100% !important;
}

label {
  font-weight  : 700;
  margin-bottom: 0;
}

.custom-control {
  line-height: 24px;
}
