$fa-font-path: '~font-awesome/fonts';
@import './app/ui/styles/variables';
@import '~font-awesome/scss/font-awesome';
@import "~bootstrap/scss/bootstrap";
@import "~ng2-toasty/style-bootstrap";
@import './app/ui/styles/bootswatch';

body {
  @include transition(all 0.3s ease);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

a {
  cursor: pointer;
  @include ripple(#eee);
}

.card {
  box-shadow: 0 1px 2px rgba(151,151,151,0.58);
}

.card-title {
  text-shadow: 0 1px 1px rgba(0,0,0,0.2);
}
