@import '../ui/styles/variables';
@import '../ui/styles/mixins';

.admin-header {
  box-shadow : 0 2px 5px -1px rgba(0, 0, 0, 0.5);
  right      : 0;
  line-height: 1;
  margin-left: -15px;
  margin-top : -16px;
  height     : 40px;
  padding    : 8px;
  width      : calc(100vw - 64px);
  z-index    : 1000;
  @include transition(all 0.3s ease);
  @media (max-width: 575px) {
    left : 0;
    width: 100vw;
  }

  h5 {
    color      : $brand-danger;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  }

  &.sidebar-open {
    width: calc(100vw - 250px);
  }
}

.dash-card {
  text-decoration: none;

  .card {
    @include ripple($brand-primary);
  }

  .card-header {
    background    : $brand-primary;
    letter-spacing: 0.5px;
  }

  i {
    color        : $brand-danger;
    margin-bottom: 25px;
    text-shadow  : 2px 2px 2px $brand-primary;
  }

  &:hover {
    .card,
    .card-header {
      background  : $brand-primary;
      border-color: $brand-primary;
    }

    .card-header,
    i {
      color      : $brand-danger !important;
      text-shadow: 2px 2px 2px #fff;
    }

    .badge {
      background: $brand-danger;
    }
  }
}
