@import '../../styles/variables';
@import '../../styles/mixins';

.navbar {
  background: $brand-danger;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
  border-bottom: 3px solid lighten($brand-danger, 7%);
  left: 64px;
  right: 0;
  line-height: 1.5;
  margin: 0;
  height: 40px;
  padding: 0;
  width: calc(100% - 64px);
  @include gradient-radial(lighten($brand-danger, 5%), $brand-danger);
  @include transition(all 0.3s ease);

  &.sidebar-open {
    left: 250px;
    width: calc(100% - 250px);
  }
  @media (max-width: 575px) {
    left: 0;
    width: 100%;

    &.sidebar-open {
      left: 64px;
      width: calc(100% - 64px);
    }
  }
}

.container-fluid {
  margin: 0;
}

.navbar-left,
.navbar-right {
  height: 40px;
  line-height: 40px;
  padding-top: 1px;
}

.navbar-center {
  height: 40px;

  h4 {
    background: transparent;
    color: #fff;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 24px;
    font-style: italic;
    font-weight: 600 !important;
    height: 40px;
    letter-spacing: -0.1px;
    line-height: 36px;
    margin-bottom: 0;
    text-shadow: 3px 3px 5px rgba(0,0,0,0.5);
  }
}

.navbar-btn {
  i {
    color: #fff;
    font-size: 20px;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    width: 24px;
  }
}

.dropdown-menu {
  font-size: 15px;
  margin-right: -15px;
  top: 39px;
  z-index: 1050;

  .dropdown-item {
    line-height: 1;
    padding: 7px 40px;

    i {
      color: $brand-primary;
      font-size: 15px;
      text-shadow: 0 1px 2px rgba(0,0,0,0.3);
    }

    &.active {
      i {
        color: #fff;
      }
    }
  }
}
