<nav class="navbar navbar-light bg-faded" [class.sidebar-open]="uiService.sidebarOpen">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-2 navbar-left">
        <a class="navbar-btn" (click)="uiService.toggleSidebar()">
          <i class="fa fa-2x " [class.fa-bars]="!uiService.sidebarOpen" [class.fa-times]="uiService.sidebarOpen"></i>
        </a>
      </div>
      <div class="col-8 navbar-center">
        <h4 class="text-center">{{ appName }}</h4>
      </div>
      <div class="col-2 navbar-right">
        <div class="d-inline-block navbar-btn float-right" ngbDropdown #drop="ngbDropdown">
          <a id="dropdownMenu1" ngbDropdownToggle>
            <i class="fa fa-2x " [class.fa-ellipsis-v]="!drop.isOpen()" [class.fa-ellipsis-h]="drop.isOpen()"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
            <a class="dropdown-item text-left" routerLink="/home" routerLinkActive="active">
              <i class="fa fa-fw fa-home" aria-hidden="true"></i> &nbsp; Home
            </a>
            <a class="dropdown-item text-left" routerLink="/admin" routerLinkActive="active">
              <i class="fa fa-fw fa-lock" aria-hidden="true"></i> &nbsp; Admin
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item text-right" (click)="logout()">Log Out &nbsp;
            <i class="fa fa-fw fa-sign-out" aria-hidden="true"></i>
          </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
