<app-card icon="tags" title="Roles" [createButton]="roleService.getCardButtons()" (action)="create()">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th *ngFor="let header of roleService.getTableHeaders()">{{ header }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let role of roleService.roles">
        <td>{{ role.name }}</td>
        <td>{{ role.description }}</td>
        <td>
          <button type="button" class="btn btn-secondary btn-sm" placement="bottom" ngbTooltip="Update" (click)="update(role)">
            <i class="fa fa-fw fa-edit"></i>
          </button>
          <button type="button" class="btn btn-danger btn-sm" placement="bottom" ngbTooltip="Delete" (click)="delete(role)">
            <i class="fa fa-fw fa-trash-o"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</app-card>
