@import '../ui/styles/variables';
@import '~bootstrap/scss/mixins';

.admin-header {
  background   : lighten($brand-primary, 20%);
  box-shadow   : 0 2px 3px #ddd;
  margin-bottom: 15px;
  margin-left  : -15px;
  margin-top   : -16px;
  right        : 0;
  line-height  : 1;
  height       : 40px;
  padding      : 7px 0 0;
  width        : calc(100vw - 60px);
  @include transition(all 0.3s ease);

  h5 {
    color      : darken($brand-primary, 25%);
    text-shadow: 0 1px 2px rgba(0,0,0,0.2);
  }

  &.sidebar-open {
    left : 250px;
    width: calc(100vw - 250px);
  }
}
