@import '../ui/styles/variables';
@import '../ui/styles/mixins';

.dash-card {
  text-decoration: none;

  .card {
    @include ripple($brand-primary);
  }

  .card-header {
    background    : $brand-primary;
    letter-spacing: 0.5px;
  }

  i {
    color        : $brand-danger;
    margin-bottom: 25px;
    text-shadow  : 2px 2px 2px $brand-primary;
  }

  &:hover {
    .card,
    .card-header {
      background  : $brand-primary;
      border-color: $brand-primary;
    }

    .card-header,
    i {
      color      : $brand-danger !important;
      text-shadow: 2px 2px 2px #fff;
    }

    .badge {
      background: $brand-danger;
    }
  }
}
