@import '../../styles/variables';
@import '~bootstrap/scss/mixins';

.main {
  left    : 64px;
  position: absolute;
  width   : calc(100vw - 64px);
  @include transition(all 0.3s ease);

  &.sidebar-open {
    left : 250px;
    width: calc(100vw - 250px);
  }
}
