@import '../../styles/variables';
@import '~bootstrap/scss/mixins';

.main {
  box-shadow    : inset 0 0 12px 3px #ccc;
  height        : calc(100vh - 90px);
  padding-bottom: 100px;
  margin-left   : 64px;
  overflow-x    : hidden;
  // right         : 0;
  position      : absolute;
  top           : 50px;
  width         : calc(100vw - 64px);
  @include transition(all 0.3s ease);
  @media (max-width: 575px) {
    margin-left: 0;
    width      : 100vw;
  }

  &.sidebar-open {
    margin-left: 250px;
    width      : calc(100vw - 250px);
  }
}
