@import '../../styles/variables';
@import '~bootstrap/scss/mixins';

.main {
  box-shadow    : inset 0 0 15px #ddd;
  height        : calc(100vh - 90px);
  padding-bottom: 100px;
  left          : 64px;
  overflow-x    : hidden;
  right         : 0;
  position      : absolute;
  top           : 50px;
  width         : calc(100vw - 64px);
  @include transition(all 0.3s ease);

  &.sidebar-open {
    left : 250px;
    width: calc(100vw - 250px);
  }
}
