@import '../../styles/variables';
@import '~bootstrap/scss/mixins';

.sidebar-wrapper {
  box-shadow: 2px 0 3px rgba(0, 0, 0, 0.3);
  position  : fixed;
  width     : 64px;
  height    : 100%;
  overflow-x: hidden;
  overflow-y: auto;
  top       : 0;
  z-index   : 1031;
  @include transition(all 0.3s ease);
  @include gradient-radial(lighten($brand-primary, 3%), darken($brand-primary, 5%));

  &.sidebar-open {
    width: 250px;

    .sidebar-nav {
      padding: 0;
    }

    .img-wrap {
      width: 100%;

      img {
        width: 250px;
      }
    }
  }
}

.container-fluid {
  padding: 0;
}

.img-wrap {
  box-shadow : inset 0 1px 5px $brand-primary;
  display    : block;
  height     : 90px;
  padding-top: 20px;
  width      : 100%;
  @include gradient-radial(lighten($brand-primary, 20%), $brand-primary);
  @include transition(all 0.3s ease);

  img {
    border-radius: 30px;
    height       : 50px;
    margin       : auto;
    width        : 50px;
    @include transition(all 0.3s ease);
  }
}

.sidebar-nav {
  margin-top: 10px;
  list-style: none;
  padding   : 0;

  li {
    width  : 250px;
    height : 51px;
    padding: 0;
  }

  a {
    color          : lighten($brand-primary, 30%);
    cursor         : pointer;
    display        : block;
    font-weight    : 400;
    height         : 44px;
    padding        : 0 0 0 10px;
    text-decoration: none;
    width          : 250px;
    @include transition(all 0.0s ease);

    .fa {
      background  : darken($brand-primary, 25%);
      color       : lighten($brand-primary, 25%);
      display     : inline-block;
      float       : left;
      font-size   : 20px;
      height      : 44px;
      line-height : 44px;
      margin-right: 30px;
      outline     : none;
      position    : relative;
      text-align  : center;
      width       : 44px;
    }

    .menu-name {
      display       : inline-block;
      font-family   : 'Segoe UI', sans-serif;
      font-size     : 13px;
      letter-spacing: 1.5px;
      line-height   : 44px;
      text-transform: uppercase;
    }

    &:hover {
      text-decoration: none;
      color          : #fff;

      .fa {
        background: lighten($brand-primary, 25%);
        color     : darken($brand-primary, 25%);
      }
    }

    &.active {
      text-decoration: none;
      color          : #fff;
      font-weight    : 700;

      &:hover {
        color: #fff;
        //background: transparent;
      }

      .fa {
        color      : #fff;
        box-shadow : inset 0 0 3px 1px darken($brand-primary, 25%);
        text-shadow: 0 3px 1px rgba(0,0,0,0.4), 1px 2px 1px rgba(0,0,0,0.2), -1px 3px 1px rgba(0,0,0,0.2);
        @include gradient-radial(lighten($brand-primary, 25%), $brand-primary);
      }

      .menu-name {
        text-shadow: 0 0 3px #000;
      }
    }

    &:focus {
      text-decoration: none;
    }
  }
}
