<!-- FILES -->
<app-card icon="files-o" title="Files" [createButton]="fileService.getCardButtons()" (action)="create()">
  <div class="row">
    <div class="col-12">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th *ngFor="let header of fileService.getTableHeaders()">{{ header }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of fileService.filesToContainers">
            <td>{{ item.container.name }}</td>
            <td>
              <div *ngFor="let file of item.files">
                <div class="row">
                  <div class="col-2">
                    <button *ngIf="file.ext === 'wav'" type="button" class="btn btn-sm btn-primary" (click)="play(file)">
                      <i class="fa fa-fw fa-play"></i>
                    </button>
                  </div>
                  <div class="col-10">
                    <div class="alert alert-success alert-dismissible fade show mb-1" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="deleteFile(item.container.name, file)">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      <strong>{{ file.name }}</strong>
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <button type="button" class="btn btn-danger btn-sm btn-block" placement="bottom" ngbTooltip="Delete" (click)="delete(item)">
                <i class="fa fa-fw fa-trash-o"></i>&nbsp;
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</app-card>
<!-- UPLOAD -->
<div class="card">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col-12 col-md-6">
        <h4 class="text-uppercase text-danger mb-0">
          <i class="fa fa-fw fa-upload"></i>
          Upload
        </h4>
      </div>
      <div class="col-12 col-md-6">
        <div class="form-group has-warning mb-0">
          <label for="uploadContainer" class="text-danger">Upload Container</label>
          <select class="form-control" id="containerName" required [(ngModel)]="uploadContainer.name" name="containerName" (select)="uploadUrl = fileService.getUploadUrl(uploadContainer)">
            <option *ngFor="let item of fileService.containers" [value]="item.name">{{ item.name }}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="card-block">
    <div class="row">
      <div class="col-12 col-md-6">
        <h4>Add Files</h4>
      </div>
      <div class="col-12 col-md-6 text-right">
        <h5 [class.text-success]="uploader?.queue?.length">Upload Queue</h5>
        <p class="lead mb-0"><strong>Files in Queue: <span [class.text-primary]="uploader?.queue?.length">{{ uploader?.queue?.length }}</span></strong></p>
      </div>
    </div>
    <hr>
    <div class="row align-items-center">
      <div class="col-12 col-lg-7 mb-2">
        <div ng2FileDrop [ngClass]="{'file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)" [uploader]="uploader" class="card drop-zone">
          <h5 class="text-success">Drop Zone</h5>
          <i class="text-success fa fa-cloud-upload fa-3x" aria-hidden="true"></i>
        </div>
      </div>
      <div class="col-12 col-lg-5 mb-2">
        <div class="row">
          <div class="col-12">
            <h5>Single Select</h5>
            <input class="text-center" type="file" ng2FileSelect [uploader]="uploader" />
            <hr>
          </div>
          <div class="col-12">
            <h5>Multiple Select</h5>
            <input type="file" ng2FileSelect [uploader]="uploader" multiple />
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="uploader?.queue?.length" class="row">
      <div class="col-3">
        <p class="lead float-right"><strong>Upload Progress:</strong></p>
      </div>
      <div class="col-9 align-self-center pb-3">
        <div class="progress">
          <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
        </div>
      </div>
      <div class="col-12 col-lg-3">
        <button type="button" class="btn btn-success btn-sm btn-block" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                <span class="fa fa-fw fa-upload"></span> Upload All
              </button>
        <button type="button" class="btn btn-warning btn-sm btn-block" (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                <span class="fa fa-fw fa-ban"></span> Cancel All
              </button>
        <button type="button" class="btn btn-danger btn-sm btn-block" (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                <span class="fa fa-fw fa-trash"></span> Remove All
              </button>
      </div>
      <div class="col-12 col-lg-9">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Name</th>
              <th>Size</th>
              <th>Progress</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of uploader.queue">
              <td><strong>{{ item?.file?.name }}</strong></td>
              <td nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
              <td>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                </div>
              </td>
              <td class="text-center">
                <span *ngIf="item.isSuccess"><i class="fa fa-fw fa-check"></i></span>
                <span *ngIf="item.isCancel"><i class="fa fa-fw fa-ban"></i></span>
                <span *ngIf="item.isError"><i class="fa fa-fw fa"></i></span>
              </td>
              <td nowrap>
                <button type="button" class="btn btn-success btn-sm" (click)="upload(item)" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                        <span class="fa fa-fw fa-upload"></span>
                      </button>
                <button type="button" class="btn btn-warning btn-sm" (click)="item.cancel()" [disabled]="!item.isUploading">
                        <span class="fa fa-fw fa-ban"></span>
                      </button>
                <button type="button" class="btn btn-danger btn-sm" (click)="item.remove()">
                        <span class="fa fa-fw fa-trash"></span>
                      </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
