@import '../../styles/variables';
@import '~bootstrap/scss/mixins';

.footer {
  background  : #000;
  font-size   : 14px;
  padding-left: 64px;
  height      : 30px;
  line-height : 30px;
  width       : 100%;
  @include transition(all 0.3s ease);

  &.sidebar-open {
    padding-left: 250px;
  }
  @media (max-width: 575px) {
    padding-left: 0;
    width       : 100%;

    &.sidebar-open {
      padding-left: 64px;
    }
  }

  a {
    color: #fff;
  }

}
