@import '../../styles/variables';
@import '~bootstrap/scss/mixins';

.footer {
  background : #212121;
  font-size  : 14px;
  left       : 64px;
  height     : 40px;
  line-height: 40px;
  width      : calc(100vw - 64px);
  @include transition(all 0.3s ease);

  &.sidebar-open {
    left : 250px;
    width: calc(100vw - 250px);
  }

  a {
    color: #fff;
  }
}
